<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home" routerLink="/mainpage/home" style="cursor: pointer;"></mat-icon>
    <button mat-raised-button color="primary" style="margin-right: 0.2rem;" routerLink="/mainpage/home">Főoldal</button>
    <button *ngIf="isClient() && isLoggedIn" mat-raised-button color="primary" routerLink="/mainpage/profile"
        style="margin-right: 0.2rem;">Profil</button>
    <button *ngIf="isLoggedIn" mat-raised-button color="primary" routerLink="/mainpage/user-orders"
        style="margin-right: 0.2rem;">Rendeléseim</button>
    <button *ngIf="isAdmin() && isLoggedIn" mat-raised-button color="primary" routerLink="/mainpage/admin"
        style="margin-right: 0.2rem;">Admin felület</button>
    <button mat-raised-button color="primary" routerLink="/mainpage/about">Rólunk</button>
    <span class="homepage-spacer"></span>
    <mat-icon *ngIf="isLoggedIn" aria-hidden="false" aria-label="Cart icon" fontIcon="shopping_cart_checkout" routerLink="/mainpage/cart" style="cursor: pointer; margin-right: 0.8rem;"></mat-icon>
    <mat-icon *ngIf="!isLoggedIn" aria-hidden="false" aria-label="Register icon" fontIcon="how_to_reg" routerLink="/register"
        style="margin-right: 0.5rem; cursor: pointer;"></mat-icon>
    <mat-icon *ngIf="!isLoggedIn" aria-hidden="false" aria-label="Login icon" fontIcon="login" style="cursor: pointer;" routerLink="/login"></mat-icon>
    <mat-icon *ngIf="isLoggedIn" aria-hidden="false" aria-label="Logout icon" fontIcon="logout" style="cursor: pointer;" (click)="onLogout()"></mat-icon>
</mat-toolbar>