<div class="card-wrapper">
    <div class="card col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto home-card">
        <div class="card-header">
            <h4 class="text-center mb-3">Jelszó visszaállítása</h4>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate passwordValidator>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Új jelszó</mat-label>
                    <input matInput type="password" id="password" name="password" [(ngModel)]="password" required minlength="8"
                        #pw="ngModel" placeholder="Új jelszó">
                </mat-form-field>
                <div class="alert alert-warning p-2 mt-1" *ngIf="!pw.valid && (pw.touched || pw.dirty)">
                    <div *ngIf="pw.errors?.['required']">A mező kitöltése kötelező!</div>
                    <div *ngIf="pw.errors?.['minlength']">A jelszónak legalább 8 karakternek kell lennie!
                    </div>
                </div>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Új jelszó megerősítése</mat-label>
                    <input matInput type="password" id="password_confirm" name="password_confirm" [(ngModel)]="password_confirm"
                        required #pwc="ngModel" placeholder="Új jelszó megerősítése">
                </mat-form-field>
                <div class="alert alert-warning p-2 mt-1" *ngIf="!pwc.valid && (pwc.touched || pwc.dirty)">
                    <div *ngIf="pwc.errors?.['required']">A mező kitöltése kötelező!</div>
                </div>
                <div class="alert alert-warning p-2 mt-1"
                    *ngIf="f.errors?.['matchingError'] && (pwc.touched || pwc.dirty)">
                    <div>A jelszavak nem egyeznek!</div>
                </div>
                <div>
                    <button mat-raised-button color="primary" style="margin-right: 0.2rem;" routerLink="/login">Mégse</button>
                    <button type="submit" mat-raised-button color="primary">Tovább</button>
                </div>
            </form>
        </div>
    </div>
</div>