<div class="container">
    <table mat-table [dataSource]="userOrderDetails" multiTemplateDataRows class="mat-elevation-z8 w-100 mt-5">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Név</th>
            <td mat-cell *matCellDef="let element">{{element.fullName}}</td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Szállítási cím</th>
            <td mat-cell *matCellDef="let element">{{element.fullAddress}}</td>
        </ng-container>
        <ng-container matColumnDef="contactNumber">
            <th mat-header-cell *matHeaderCellDef>Telefonszám</th>
            <td mat-cell *matCellDef="let element">{{element.contactNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="products">
            <th mat-header-cell *matHeaderCellDef>Megrendelt termékek</th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.items">
                    {{item.product.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Végösszeg</th>
            <td mat-cell *matCellDef="let element">{{element.amount}} Ft</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Rendelés állapota</th>
            <td mat-cell *matCellDef="let element">{{element.orderStatus}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>