<div class="card-wrapper">
    <div class="card col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto home-card">
        <div class="card-header">
            <h4 class="text-center title">Regisztráció</h4>
        </div>
        <div class="card-body">
            <div *ngIf="errorMessage != null" class="alert alert-danger">{{ errorMessage }}</div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate passwordValidator>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Vezetéknév</mat-label>
                    <input matInput id="firstName" name="firstName" [(ngModel)]="firstName" required #fn="ngModel"
                        placeholder="Vezetéknév">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Keresztnév</mat-label>
                    <input matInput id="lastName" name="lastName" [(ngModel)]="lastName" required #ln="ngModel"
                        placeholder="Keresztnév">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Felhasználónév</mat-label>
                    <input matInput id="username" name="username" [(ngModel)]="username" required #un="ngModel"
                        placeholder="Felhasználónév">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email-cím</mat-label>
                    <input matInput type="email" id="email" name="email" [(ngModel)]="email" email required
                        #em="ngModel" placeholder="Email-cím">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" id="password" name="password" [(ngModel)]="password" required
                        minlength="8" #pw="ngModel" placeholder="Jelszó">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Jelszó megerősítése</mat-label>
                    <input matInput type="password" id="password_confirm" name="password_confirm"
                        [(ngModel)]="password_confirm" required #pwc="ngModel" placeholder="Jelszó megerősítése">
                </mat-form-field>
                <div class="alert alert-warning p-2 mt-1" *ngIf="pw.errors?.['minlength']">Legalább 8 karakternek kell
                    lennie a jelszónak</div>
                <div class="alert alert-warning p-2 mt-1"
                    *ngIf="f.errors?.['matchingError'] && (pwc.touched || pwc.dirty)">
                    <div>Nem egyező jelszavak!</div>
                </div>
                <div class="alert alert-warning p-2 mt-1" *ngIf="em.errors?.['email']">Érvénytelen email formátum</div>
                <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid" (click)="openModal()"
                    style="margin-right: 0.3rem;">Regisztráció</button>
                <button mat-raised-button color="primary" routerLink="/mainpage/home">Vissza</button>
            </form>
        </div>
    </div>
</div>