<div class="about-section">
    <h1>Bemutatkozás</h1>
    <p>Éttermünk szeretettel várja minden kedves vendégét!</p>
    <p>A megalapításkor egy olyan éttermet képzeltünk el, ahol a vendégeink számára friss alapanyagokból készülő, hagyományos ételeket kínálunk fel, melyek imádott nagymamáink főztjeit idézik. Ételeinkben érezni a természet lágy harmóniáját, az odaadást és a szeretet, amellyel az egyes fogások készülnek. Mindezen felül fontos volt, hogy a felejthetetlen élményt nyújtsunk minden téren, így az éttermünket egy kellemes, nyugodt környezetben helyezzük el, ahol nemcsak az étel, de a természet zamatába is belekóstolhatnak vendégeink.</p>
  </div>
  
  <h2 style="text-align:center">Főszakácsaink</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/img/chef_male.jpg" style="width:100%">
        <div class="container">
          <h2>Minta Béla</h2>
          <p class="title">Főszakács</p>
          <p>minta.bela@kepzeltetterem.hu</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../../assets/img/chef_female.jpg" style="width:100%">
        <div class="container">
          <h2>Minta Margit</h2>
          <p class="title">Mesterszakács</p>
          <p>minta.margit@kepzeltetterem.hu</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Kapcsolat</h2>
          <p class="title">A következő elérhetőségek egyikén tudnak minket megtalálni:</p>
          <p>E-mail cím: info@képzeltétterem.hu</p>
          <p>Telefonszám: +36 20 567 50 60</p>
          <p>Nyitvatartás:</p>
          <p>H-Cs: 10:00 - 20:00</p>
          <p>P - V: 11:00 - 23:00</p>
          <p>Helyszín:</p>
          <p>4032 Debrecen, Kitalált utca 22.</p>
        </div>
      </div>
    </div>
  </div>