<mat-toolbar color="primary">
    <button mat-raised-button color="primary" routerLink="/mainpage/admin/dashboard">Admin főoldal</button>
    <button mat-raised-button color="primary" routerLink="/mainpage/admin/add-product">Új termék hozzáadása</button>
</mat-toolbar>
<div class="container mt-5">
    <table mat-table [dataSource]="productDetails" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Azonosító </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Név </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Leírás </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Ár </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>