<div class="card-wrapper">
    <div class="card col-12 col-sm-11 col-md-10 col-lg-8 col-xl-6 mx-auto home-card">
        <div class="card-header">
            <h4 class="text-center title">Bejelentkezés</h4>
        </div>
        <div class="card-body">
            <div *ngIf="errorMessage !== null" class="alert alert-danger">{{ errorMessage }}</div>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Felhasználónév</mat-label>
                    <input matInput id="username" name="username" [(ngModel)]="username" required #un="ngModel"
                        placeholder="Felhasználónév">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Jelszó</mat-label>
                    <input matInput type="password" id="password" name="password" [(ngModel)]="password" required
                        #pw="ngModel" placeholder="Jelszó">
                </mat-form-field>
                <div>
                    <a routerLink="/forgot-password">Elfelejtette jelszavát?</a>
                </div>
                <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid"
                    style="margin-top: 0.3rem; margin-right: 0.3rem; margin-bottom: 0.2rem;">Bejelentkezés</button>
                <button mat-raised-button color="primary" routerLink="/mainpage/home">Vissza</button>
            </form>
        </div>
    </div>
</div>